<div data-controller="user-map" data-action="google-maps-callback@window->user-map.initializeMap" class="-m-2 rounded-xl bg-opacity-50 bg-white ring-1 ring-inset ring-gray-900/10 lg:-m-4 lg:rounded-2xl">
  <div class="relative bg-black-violet sm:pt-2">
    <div class="absolute max-w-md top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
      <h1 class="flex flex-1 lg:text-2xl xxs:text-xs text-white"><%= t(".title_traveler") %></h1>
      <div class="flex flex-1 items-center justify-center py-2">
        <div class="w-full max-w-xs">
          <div class="relative flex justify-center items-center">
            <div class="pointer-events-none absolute inset-y-0 lg:left-16 xxs:left-0 flex items-center justify-center pl-3">
              <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
              </svg>
            </div>
            <input data-user-map-target="field" id="search" name="search" class="flex justify-center border-0 py-1.5 pl-12 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 rounded-full" placeholder="Search by city" type="search">
          </div>
        </div>
    </div>
    </div>
    <%= image_tag('find_a_guide_banner.png', class:'static w-full h-48') %>
  </div>
  <br>
  <div data-user-map-target="map" class="row-span-1 flex min-h-[40vh] min-w-fit qA rounded-xl bg-gray-900/5 p-2 ring-1 ring-inset ring-gray-900/10"></div>
  <table class="w-full">
    <tbody>
      <tr class="border-t border-gray-100 group">
        <td class="p-10">
          <%= turbo_frame_tag "guides", src: page_list_path , data: { turbo_action: :advance } do %>
            <div>
              Loading accounts ...
            </div>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>