<turbo-frame id="guides">
  <table class="w-full">
    <tbody>
      <% @guides.sorted.each do |guide| %>
        <tr class="border-t border-gray-100 group">
          <td class="p-2">
            <%= link_to tours_path(account_id: guide.id), class: "flex items-center" do %>
            <%= account_avatar guide, class: "rounded-full h-8 w-8 mr-3" %>
            <%= tag.span guide.name, class: "text-gray-900 font-semibold text-sm no-underline hover:text-primary" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @pagy.pages > 1 %>
    <div class="my-6 text-center">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</turbo-frame>