<div class="container mx-auto p-4">
  <div class="my-8">
    <h1><%= t(".title") %></h1>

    <% if current_account.customer_type == "traveler" %>
      <div data-controller="user-map" data-action="google-maps-callback@window->user_map.initMap" class="grid grid-rows-2">
        <div data-user-map-target="map"  class="row-span-1 flex min-h-[40vh]"></div>
        <div class="row-span-1">test</div>
      </div>
    <% else %>
      <div class="mb-2">This is the homepage for guides.</div>
    <% end %>
  </div>
</div>