<div class="container mx-auto p-4">
  <div class="my-8">
    <h1><%= t(".title") %></h1>

    <% if current_account.customer_type == "traveler" %>
    <p class="mb-2">This is the homepage for travelers.</p>
    <% else %>
    <p class="mb-2">This is the homepage for guides.</p>
    <% end %>
  </div>
</div>
