<div class="mx-auto max-w-6xl px-6 lg:px-8">
  <div class="mx-auto flex max-w-2xl flex-col justify-between lg:mx-0 lg:max-w-none lg:flex-row">
    <div class="w-full lg:max-w-lg lg:flex-auto lg:py-20 py-4">
      <%= image_tag "Travel image.png" %>
    </div>
    <div class="w-full lg:max-w-lg lg:flex-auto lg:pt-20 py-5">
      <h1 class="lg:my-5 max-w-lg text-xl font-bold tracking-tight text-gray-900">Become a Guide</h1>
      <div class="pb-6">Unleash the hidden gems of your city, become a local tour guide and share your passions with others. As a local tour guide, you have the power to showcase your unique insights, cultural treasures, and insider knowledge, shaping the way visitors perceive and remember your city. Join us in redefining tourism!</div>
      <%= link_to "Learn More", become_a_guide_path, class:"bg-indigo-600 text-white w-1/3 px-6 text-lg font-semibold py-3 rounded-full" %>
    </div>
  </div>
</div>