<div class="relative bg-black-violet sm:pt-2">
  <div class="lg:absolute md:relative left-5 top-5">
    <h2 class="font-bold tracking-tight text-white px-20">Tour guides on demand</h2>
    <p class="mt-6 text-sm text-white px-20">Connect with knowledgeable guides for</p>
    <p class="text-sm text-white px-20 pb-5">authentic travel experiences.</p>
  </div>
  <div class="lg:absolute md:relative max-w-xs right-1/4 top-5">
    <%= image_tag "airplane.png", class:"hidden lg:block" %>
  </div>
  <div class="lg:absolute md:relative max-w-xs right-8 top-20">
    <%= image_tag "airplanetrail.png", class:"hidden lg:block" %>
  </div>
  <%= image_tag('Hero.png', class:'static w-full') %>
</div>
