<div class="flex justify-center items-center pt-8">
  <h1 class="block text-lg pb-2 font-bold leading-6 text-black">What Our Users Say</h1>
</div>
<%= image_tag "Cards.png", class:"pt-5 mx-auto lg:px-10" %>
