<div class="bg-cover bg-center h-screen span1">
  <div class="py-32 mx-auto px-4 sm:px-6 lg:px-8 flex h-full">
    <div class="text-center">
      <h2 class="text-4xl font-bold text-gray-700 mb-8 md:mb-12">Discover Your Next Adventure</h2>
      <p class="text-xl text-gray-700 font-bold mb-8 md:mb-12">Connect with locals for a true insider experience.</p>
      <a href="#" class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-8 rounded-lg">Get Started</a>
    </div>
  </div>
</div>
