<div id="<%= dom_id tour %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Title</p>
    <%= tour.title %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Description</p>
    <%= tour.description %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Price</p>
    <%= number_to_currency(tour.price) %>
  </div>
</div>
